# AppWorks: ignore build artifacts, caches, versioned downloads
AppWorks/__pycache__/
AppWorks/1.7.0
AppWorks/1.21.0
AppWorks/3.5.0

# Julia notebooks env files
JuliaNotebooks/Project.toml
JuliaNotebooks/Manifest.toml

# PythonCore tests & caches
**/__pycache__/
PythonCore/tests/

# raw-data folder
data/

Vlearning
# your helper script
generate_structure.py

GearEngineering_v2/
